backgrund/*reference Hex values*/

#reference {
    color: #9381FF;
    color: #F8F7FF;
    color: #8EE3F5;
    color: #E9F5F7;
    color: #6B818C;
}

html, body {
    overflow-x: hidden;
    background-color: #6B818C;
}

.center {
    background-position: center;
}

.outerShell {
    position: relative;
}

.innerShell {
    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: -5em;
    left: 30%;
    right: 30%;
}

.fa {
    display: inline-block;
    font-size: 40px;
    line-height: 50px;
    color: white;
    width: 50px;
    height: 50px;
    margin-left: 19%;
}

.weAre {
    height: 75vh;
    background-color: #F8F7FF;
    font-family: 'Titillium Web', sans-serif;
}

.socialIcon {
    background-color: #6B818C;
    border-radius: 10px;
    font-size: 4.5em;
    width: 1.4em;
    margin: auto;
}

#hero {
    width: 100%;
    height: 100vh;
    background-color: #FFF;
    color: #000;
    text-shadow: 1px 1px 4px #6B818C;
    font-size: 5em;
    font-weight: 100;
    font-family: 'Courier New', serif;
    text-shadow: 0,0,0;
}

.logo {
    background-image: url("MediumLogo.jpg");
    width: 55vh;
    height: 55vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    border-width: medium;
    border-color: #CCC;
    background-size: cover;
    border-radius: 100%
}

.frontPanel {
    width: auto;
    height: 40vh;
    background-color: #111;
    font-family: 'Raleway', sans-serif;
    color: #CCC;
    text-shadow: 1px 2px 0px #000000;
    border-radius: 12px;
    transition: background-color 0.2s ease;
    font-family: 'Courier new';
}

.frontPanel:hover{
    background-color: rgba(0,0,0,0);
}


#frontPanels {
    background-color: #CCC;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#aboutPanel {
    background-image: url("aboutCover.png");
    background-blend-mode: soft-light;
    background-size: cover;
}

#archivePanel {
    background-image: url("archiveCover.png");
    background-blend-mode: soft-light;
    background-size: cover;
}

#newsPanel {
    background-image: url("newsCoverSmall.png");
    background-blend-mode: soft-light;
    background-size: cover;
}

#social {
    background-color: #EEE;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 12vh;
}

#weAre {
    padding: 30px;
    background-color: #FFF;
    margin-top: 20vh;
    margin-bottom: 20vh;
    padding: 0;
}

#aboutSquad{
    margin-bottom: 0;
    background-color: #444;
    margin-right: 30vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #EEE;
    font-family: 'Courier New';
}

#taylerMacmillan{
    margin-bottom: 0;
    background-color: #DDDDDD;
    margin-left: 30vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 8vh;
    margin-bottom: 8vh;
    font-family: 'Courier New';
}

.aboutHeader{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    padding-top: 2vh;
    padding-bottom: 8vh;
    color: #333;
    font-family: 'courier new;
}
#weAreBody{
    font-weight: 700;
    font-size: 18px;
    padding-top: 18px;
    color: #333;
    background-color: #CCC;
    min-height: 50vh;
    border-radius: 1px;
}

#bodySide{
    background-color: #333;
    min-height: 50vh;
    margin-bottom: 30px;
    border-radius: 1px;
}

#extraInfo{
    font-weight: 700;
    font-size: 18px;
    padding-top: 18px;
    color: #FFF;
}

#quotes{
    background-color: #FFF;
    padding-bottom: 30px
}

.quote{
    font-family: Cinzel;
    text-align: center;
    font-size: 2.4em;
    vertical-align: middle;
    color:#404040;
    letter-spacing: 10px;
    background-color: #DDD;
    padding-top: 5px;
    padding-bottom: 5px;
}

.aboutFaceTayler{
    background-image:url(Tayler.png);
    border-radius: 100%;
    width: 30vh;
    height: 30vh;
    background-position: center;
    
}
.aboutFaceRichard{
    background-image:url(Richard.png);
    border-radius: 100%;
    width: 30vh;
    height: 30vh;
    background-position: center;
    margin-left: 79%;
}
.hotwings{
    font-family:cursive;
    font-weight: 100;
    
}

#c1 {
    background-color: #9281FF;
}

#c2 {
    background-color: #F8F7FF;
}

#c3 {
    background-color: #8EE3F5;
}

#c4 {
    background-color: #E9F5F7;
}

#c5 {
    background-color: #6B818C;
    
}
@media (max-width: 991px) {
    #social {
        display: none;
    }
    #frontPanels{
        padding: 0px;
    }
    .frontPanel{
        padding:0px;
        border-radius: 6px;
    }
    #hero{
        font-size: 3em;
    }
    #logo{
        width: 45vh;
        height: 45vh;
    }
    #aboutHeader{
        font-size: 31px;
        text-shadow: 0px 0px 3px #ACE;
    }
}

@media (max-width: 400px){
     #weAreBody{
        height: 85vh;
    }
    #bodySide{
        height: 85vh;
    }
    #aboutHeader{
        font-size: 26px;
    }
}
